.top-margin {
    margin-top: 10px;
}

.saved_prediction {
    height: 50px;
    columns: white !important;
    background-color: cadetblue !important;
    font-weight: bold;
}

.edit_prediction {
    width: 20%;
    height: 50px;
    font-weight: bold;
}

.delete_prediction {
    width: 20%;
    height: 50px;
    font-weight: bold;
}