{% extends "layout.html" %}


{% block content %}

<h1> Weather Predictions</h1>
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">New Prediction</div>
            <div class="card-body">
                {% include '_flashes.html' %}
                <form method="post" action="/">
                    {{ form.hidden_tag() }}
                    <div class="top-margin">
                        <label for="country_code" class="form-label">Country Code:</label>
                        {{ form.country_code(size=32, class="form-control") }}
                    </div>
                    <div class="top-margin">
                        <label for="city" class="form-label">City:</label>
                        {% for error in form.city.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                        {{ form.city(size=32, class="form-control") }}
                    </div>
                    <div class="top-margin">
                        {{ form.submit(class="btn btn-primary", style="margin-top: 5px;") }}
                    </div>
                </form>
            </div>
        </div>
        <div class="card">
            <form method="POST" action="get_weather_data" id="get_weather_data_form"></form>
            <div class="card-header">Saved Predictions</div>
                <div class="card-body">
                    {% if prediction_requests is defined %}
                        <ul class="list-unstyled">
                            {% for prediction in prediction_requests %}

                            <li class="top-margin">
                                <a href="/edit_prediction_request/{{ prediction.id }}" 
                                   class="btn btn-warning">EDIT</a>
                                <button type="submit" 
                                        class="btn btn-primary saved_prediction" 
                                        form="get_weather_data_form"
                                        name="prediction_id"
                                        value="{{ prediction.id }}">
                                    {{ prediction.country_code }} {{ prediction.city }}
                                </button>
                            </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No predictions saved yet</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-9">
            {% if predictions_dict is defined %}
            <div class="card">
                <div class="card-header">Weather predictions for {{ selected_country_code }} {{ selected_city }}</div>
                <div class="card-body">
                    
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th> Date </th>
                                    <th> Description </th>
                                    <th> Temperature </th>
                                    <th> Feels like </th>
                                    <th> Rain </th>
                                </tr>
                            </thead>
                        {% for key, value in predictions_dict.items() %}
                            <tr>
                                <td>{{key}}</td>
                                <td>{{value['description']}}</td>
                                <td>{{value['temperature']}}</td>
                                <td>{{value['feels_like']}}</td>
                                <td>{{value['rain']}}</td>
                            </tr>
                        {% endfor %}
                        </table>
                </div>
            </div>
            {% endif %}
        </div>
</div>

{% endblock %}